page-pagamento {
  .saldo {
    float: right;
    width: 100px;
    padding: 5px;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    border: 3px solid #21E7B6;
    margin: 10px;
  }
}
